<div class="container">
  <div class="col-sm-8">
    <p id="notice"><%= notice %></p>
    <div class="card">
      <div class="card-block">
        <h4 class="card-title"><%= @article.title %></h4>
        <h6 class="card-text font-weight-bold">Views: <%= @article.impressions %></h6>
        <h5 class='text-success'>Plain text</h5>
        <p class="card-text"><%= @article.body %></p>
        <h5 class='text-success'>Preview</h5>
        <p class="card-text"><%= @markdown.render(@article.body).html_safe %></p>
      </div>
      <div class='card-footer'>
        <%= link_to 'Edit', edit_article_path(@article), class: 'btn btn-warning' %>
        <%= link_to 'Back', articles_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>